<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>Chalmers</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Erik Örjehag</name>
    <email>erik@dynorobotics.se</email>
  </author>

  <description>
    Chalmers campus
  </description>
</model>